@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.acciones a {
    color: #fff; // O el color que prefieras
    text-decoration: underline;
    font-size: 1.1rem;
}

