@use 'base/variables' as v;
@use 'base/mixins' as m;

.fomulario{
    width: 100%;
    margin-top: 5rem;

}

.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;


    .label{
        flex:0 0 10 rem;

    }

    .input{
        flex: 1;
        border: none;
        padding: calc(v.$separacion/4);
        border-radius: 1rem;
        
    
        
    }
}